/* You can add global styles to this file, and also import other style files */
.model-viewer canvas {
  margin: 50px 50%;
  transform: translateX(-50%);
  border: 1px solid #AFAFAF;
  border-radius: 5px;
}
